# Copy this file to project root as .env.satu and fill in values
# This file should be in .gitignore

ENV=SATU.8620
BANK_ENV=SATU
BANK_NUMBER=8620

# User configuration
LOGIN_USER_ID=YC8DCZA
USER_PASSWORD=Start12345
USER_NAME=User001 M365 Egbert Karmann
USER_EMAIL=User001.m365@ait-8620-prim.de
USER_JOB=Leiter IT
USER_MODUL=ESM
SERVICE_CENTER=Service Center IT

# App URLs
BASEURLESM=https://esm.i8634.sys3.tb.rz.bankenit.de:16613/
BASEURLESMITADMIN=

# Perf recording
PERF_ENV=satu
PERF_VERSION=20260331122234566

# Database
PG_HOST=pgsek555.pka.bankenit.de
PG_PORT=5432
PG_DB=db_regtest_timeseries
PG_SCHEMA=regtest_timeseries
PG_USER=
PG_PASSWORD=
