# Copy this file to project root as .env.satu and fill in credentials
# This file should be in .gitignore

ENV=SATU.8620
BANK_NUMBER=8620
LOGIN_USER_ID=YC8DCZA

# Perf recording
PERF_ENV=satu
PERF_VERSION=20260331122234566

# Database
PG_HOST=pgsek555.pka.bankenit.de
PG_PORT=5432
PG_DB=db_regtest_timeseries
PG_SCHEMA=regtest_timeseries
PG_USER=
PG_PASSWORD=
